<h1 id="robot">Build your own Robot!</h1>
<div class="first_page">
  <li><a href="/robots">Robot Index</a></li>
  <li><a href="/robots/new">New Robot</a></li>
</div>
<div>
  <img class="optimus" src="http://conceptartworld.com/wp-content/uploads/2013/02/Robot_Concept_Art_by_Josh_Nizzi.jpg"/>
  <img id="versus" src="https://lh3.ggpht.com/NwQ3FT7ydn7k3wZCgYfLPOymxE_g1YxCCobYKufv9ETWI6Vj8LY22B2oxOJKIENsT4U=w300"/>
  <img class="optimus" src="https://i.ytimg.com/vi/PVT5TfFL4Os/maxresdefault.jpg"/>
</div>
