<h1 id="title">My Robots</h1>
<a id="home_button" href="/">[Home]</a>

<% @robots.each do |robot| %>
  <h3 id="the_robots"><a href="/robots/<%= robot.id %>">Look at Robot ID: <%= robot.id %></a></h3>
    <a id="editor" href="/robots/<%= robot.id %>/edit">Edit Robot</a>
  <form action="/robots/<%= robot.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input id="delete_button" type="submit" value="delete robot"/>
  </form>
<% end %>
