<form action="/robots" method="POST">
    <p>What's the robot's name?</p>
  <input class="new_robot" type='text' name="robot[name]"></input>
    <p>What city was he built in?</p>
  <input class="new_robot" type='text' name="robot[city]"></input>
    <p>What state?</p>
  <input class="new_robot" type='text' name="robot[state]"></input>
    <p>What department?</p>
  <input class="new_robot" type='text' name="robot[department]"></input>
  <input id="submit_button"type="submit" />
</form>
<a id="home_button" href="/">[Home]</a>
