<form action="/robots" method="POST">
    <p>What's the robot's name?</p>
  <input type='text' name="robot[name]"></input>
    <p>What city was he built in?</p>
  <input type='text' name="robot[city]"></input>
    <p>What state?</p>
  <input type='text' name="robot[state]"></input>
    <p>What department?</p>
  <input type='text' name="robot[department]"></input>
  <input type="submit" />
</form>
